* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: --token('color.gray.100');
  background: --token('color.gray.900');
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

#app {
  display: contents;
}
