* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: --token("font.sans");
  line-height: --token("leading.normal");
  color: --token("color.gray.100");
  background: --token("color.gray.900");
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

#app {
  display: contents;
}
