name: pr

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

jobs:
  title:
    name: Validate PR Title
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            *
            core
            vite
            lsp
            vscode
          requireScope: false
